@import "global.scss";

body {
     background-color: $dark;
}

a.float-primary {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: $secondary;
    color: $white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 1px $secondaryDarker;
}

a.float-secondary {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 120px;
    right: 40px;
    background-color: $secondary;
    color: $white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 1px $secondaryDarker;
}

a.float-primary:hover {
    background-color: #d81b60;
    color: #eeeeee;
}

a.float-secondary:hover {
    background-color: #d81b60;
    color: #eeeeee;
}

.my-float {
    margin-top: 22px;
}

.create-question-form {
    text-align: center;
    padding: 30px;
}

.btn-save-question {
    width:60%;
    margin-top: 3vh;
}

.form-primary {
    background-color: $dark;
    border-color: $dark;
    border-bottom: solid 1px $secondary;
    color: $white;
}

.form-primary:focus {
    background-color: $dark;
    border-color: $dark;
    border-bottom: solid 1px $secondary;
    box-shadow: none;
    color: $white;
}

.btn-question-primary {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;
    padding: 0.7vh;
    border-radius: 50px;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
    background-color: $secondary;
    margin-bottom: 5vh;
}

h2 {
    color: $white;
}

